
h1, h2{
    font-family: Verdana;
    background-color: black;

}
a, h1, h2{ 
    font-family: Verdana;
}
a{
    color:aquamarine;
    font-size: 16px;
    text-align: center;
}
h1 {
    color:white;
    font-weight: normal;
    text-align: center;
}
h2 {
    color:gray;
    text-align: center;
    font-size: 21px;
    font-family:verdana;

}
body {
    background-color: black;
    text-align: center;
}
img {
    text-align: center;
}
.value1{
    font-weight: 300;
    font-size: 42px;
}
footer{
    text-align: right;
    color:gray;
    font-family:verdana;
}